/envs
/.vscode
/server/.env
/server/node_modules
/client/node_modules
/.git

logs
*.log
npm-debug.log*

dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?